main{
    /* display: flex;
    flex-direction: column; */
    background-color: lightseagreen;
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    text-align: center;
}

header{
    grid-column: 2/3;
    font-size: 100px;
    text-align: center;
    color: cornsilk;
}

.unchained{
    grid-column: 2/3;
    max-width: 900px;
    height: 900px;
    justify-self: center;
    margin-left: 400px;
    margin-right: 1000px;
    border-radius: 50%;
    opacity: 60%;
    border: solid cornsilk 5px;
}

h1{
    grid-column: 2/3;
    color: cornsilk;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    border: solid cornsilk;
} 