@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans:wght@300&display=swap');

body{
    background-color: #5D590F;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}
             

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    font-size: 30px;
}

nav a:hover {
    background-color:  #381D2A;
    color: #E7C24F;
}

#Home_page{
    background-image: url("drew-farwell-9vkJPfh9Anw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85%;
}

#equipment{
background-image: url("jarrett-mills-E2L2pMppR1U-unsplash.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#contact_us{
    background-image: url("jack-charles-X-6NnyS_uFE-unsplash.jpg");
    background-size: contain;
}

header {
    background-color: #E7C24F;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

h1{
    color: white;
    text-align: center;
    font-size: 150px;
}

h2{
    color: white;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}

.home-grid2{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    grid-column: 2;
    background-color: #381D2A;
    color: #381D2A;
    cursor: pointer;
    padding: 18px;
    height: 100px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #381D2A;
    color: #E7C24F;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    grid-column: 2;
    padding: 0 18px;
    background-color: #381D2A;
    display: none;
    overflow: hidden;
  }

#rr{
    margin-top: -85px;
    margin-left: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#rrp{
    margin-top: -70px;
    margin-left: 50px;
    
}

#fl{
    margin-left: 20px;
    margin-top: -70px;
    grid-column: 2/3;
    grid-row: 3/4;
}

#flp{
    margin-top: -70px;
    margin-left: 50px;
}

h2{
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
    padding-top: 50px;
    grid-column: 2/3;
}

p{
    font-size: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    grid-column: 2/3;
}

footer{
    background-color: #E7C24F;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: black;
    text-decoration: none;
}

#freshies{
    color: blueviolet;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #381D2A;
    text-decoration: underline;
}





